{% extends "base.html" %}
{% block title %}ProShipper | Home{% endblock %} 
{% block content %}
<div class="container my-3">
  <div class="d-flex justify-content-between mb-3">
    <h1>Dropshipping Web App</h1>
    {% if username %}
        <button class="btn btn-primary" id="add-item-btn">Add Item</button>
      </div>
    
      {% include 'item_table.html' %}
    {% else %}
      </div>
      <div class="mb-3">
        <h3>Viewing Restricted Content</h3>
        <h6>Please <a class="btn btn-primary" href="{{ url_for('login') }}">Login</a> to view the content.</h6>
      </div>
      <div>
        
      </div>
    {% endif %}
</div>
<script src="{{ url_for('static', filename='js/main.js' ) }}"></script>
{% include 'item_form.html' %}
{% endblock %}